body {
  text-align: center;
  background-color: #808080;
}

div1 {
  margin-top: 50px;
}

div2 {
  margin-top: 0px;
}

.image-section {
  display: flex;
  justify-content: center;
}

.section-style {
  margin-right: 50px;
  margin-left: 50px;
  background-color: clear;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

/* This hides all pages */
.page {
    display: none;
}

/* This displays the first page */
.default {
    display: block;
}

/* This displays the page corresponding to the one you clicked on */
:target {
    display: block;
}

/* This hides the default page when another page is clicked */
:target ~ .default {
    display: none;
}